In [1]:
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile
import pandas_profiling
import numpy as np
import re
import array as arr
import datetime

In [2]:
df = pd.read_excel('/Users/swatz_bachoo/Downloads/HMS/PROBLEM2/SGD-Features.xlsx', sheet_name = 'ORFs left arm of chr11')
print("Column headings:")
print(df.columns)

Column headings:
Index(['Row', 'Primary SGDID', 'Feature type', 'Feature name', 'Gene name',
       'Secondary SGDID', 'Chromosome', 'Start coordinate', 'Stop coordinate',
       'Strand', 'Sequence version date', 'Description', 'Unnamed: 12'],
      dtype='object')

In [3]:
"""Renaming columns
It is good practice to avoid starting column names in capitals or have white spaces. 
Uppercase has been converted to lowercase
Spaces have been replaced with underscore"""
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')
print(df.columns)

Index(['row', 'primary_sgdid', 'feature_type', 'feature_name', 'gene_name',
       'secondary_sgdid', 'chromosome', 'start_coordinate', 'stop_coordinate',
       'strand', 'sequence_version_date', 'description', 'unnamed:_12'],
      dtype='object')

In [4]:
"""Data exploration: Provides a HTML report of the dataframe"""
print ("Exploratory report of the dataframe in .html format")
pandas_profiling.ProfileReport(df)

Exploratory report of the dataframe in .html format

In [5]:
"""No of rows*columns in df"""
print ("Rows*Columns in the dataframe")
df.shape

Rows*Columns in the dataframe

(84, 13)

In [6]:
print ("Head of the given dataframe")
df.head()

Head of the given dataframe

,row,primary_sgdid,feature_type,feature_name,gene_name,secondary_sgdid,chromosome,start_coordinate,stop_coordinate,strand,sequence_version_date,description,unnamed:_12
0,1,S000001568,ORF,YKL085W,MDH1,L000001045,11.0,279123,280127,W,1996-07-31,Mitochondrial malate dehydrogenase; catalyzes ...,NaN
1,2,S000001569,ORF,YKL086W,SRX1,NaN,11.0,278281,278664,W,1996-07-31,Sulfiredoxin; contributes to oxidative stress ...,NaN
2,7,S000001574,ORF,YKL091C,NaN,NaN,11.0,270650,269718,C,1996-07-31,Putative phosphatidylinositol/phosphatidylchol...,NaN
3,8,S000001575,ORF,YKL092C,BUD2,L000000199,11.0,269459,266145,C,1996-07-31,GTPase activating factor for Rsr1p/Bud1p; play...,NaN
4,9,S000001576,ORF,YKL093W,MBR1,L000001033,11.0,264789,265808,W,1996-07-31,protein involved in mitochondrial functions an...,NaN

In [7]:
"""Dropping the not needed "Unnamed: 12" column. 
Changes to be made directly in our object"""
to_drop = ['unnamed:_12']
df.drop(to_drop, inplace = True, axis = 1)
print("Wanted Columns in the dataframe:\n ",df.columns)

Wanted Columns in the dataframe:
  Index(['row', 'primary_sgdid', 'feature_type', 'feature_name', 'gene_name',
       'secondary_sgdid', 'chromosome', 'start_coordinate', 'stop_coordinate',
       'strand', 'sequence_version_date', 'description'],
      dtype='object')

In [8]:
"""Missing values in the mandatory Primary SGDID column"""
df.loc[(df['primary_sgdid'].isnull()), "row"]

71    114
Name: row, dtype: int64

In [9]:
"""Checking if the column Primary SGDID has unique values for each record"""
df['primary_sgdid'].is_unique

False

In [10]:
"""Setting Primary SGDID as the primary key"""
df = df.set_index('primary_sgdid')

In [11]:
"""Duplicate Records based on Primary SGDID unique identifier values"""
df_duplicates = pd.concat(g for _, g in df.groupby("primary_sgdid") if len(g) > 1)
df_duplicates['row']

primary_sgdid
S000001654    96
S000001654    97
Name: row, dtype: int64

In [12]:
"""Removing the duplicate records. 
Do not include index; Row is not the same. So check duplicates in a combo of other col values"""
df.drop_duplicates(subset=['feature_type','start_coordinate', 'stop_coordinate',
       'strand'], keep='first', inplace=True)
df.loc[df['row'] == 97]
print ("Duplicate records have been removed")
"""df.loc[df['row'] == 96] Row 97 record is dropped. Row 96 record now exists"""

Duplicate records have been removed

"df.loc[df['row'] == 96] Row 97 record is dropped. Row 96 record now exists"

In [13]:
"""Checking which columns have missing values"""
"""To check which values are missing, use
df.isna()"""
df.columns[df.isnull().any()]

Index(['feature_name', 'gene_name', 'secondary_sgdid', 'chromosome',
       'description'],
      dtype='object')

In [14]:
"""Computing number of missing values in each column"""

df.isna().sum()

row                       0
feature_type              0
feature_name              2
gene_name                20
secondary_sgdid          36
chromosome                1
start_coordinate          0
stop_coordinate           0
strand                    0
sequence_version_date     0
description               1
dtype: int64

In [15]:
"""
6 Mandatory columns : 
row, primary_sgdid, feature_type, start_coordinate, stop coordinate, and strand.
We can see from the above chunk that none of these mandatory columns have missing values.
However, if we have to locate which rows in these columns have missing values using other data sets, then 
the following command(S) can be used:
If you want only the row values in an array:
df.loc[(df['feature_type'].isnull()), "row"].values
If you want both the unique identifier and corresponding row values:
df.loc[(df['feature_type'].isnull()), "row"]
See example on an optional column with missing values below
The same can be checked on other manadatory columns"""
print("None of the other mandatory columns have missing values as seeen above.\nSample of how to obtain rows with missing values in the optional gene-name column")
df.loc[(df['gene_name'].isnull()), "row"].values

None of the other mandatory columns have missing values as seeen above.
Sample of how to obtain rows with missing values in the optional gene-name column

array([  7,  15,  18,  31,  35,  36,  39,  44,  52,  54,  57,  76,  79,
        85,  86,  90,  94, 147, 148, 150])

In [16]:
"""Examining datatypes of the dataframe columns"""
print("Examining datatypes of the dataframe columns")
df.dtypes

Examining datatypes of the dataframe columns

row                        int64
feature_type              object
feature_name              object
gene_name                 object
secondary_sgdid           object
chromosome               float64
start_coordinate           int64
stop_coordinate            int64
strand                    object
sequence_version_date     object
description               object
dtype: object

In [17]:
"""Rows where feature_type value is not ORF.
CDS is still an ORF containing only the coding regions of the gene"""
print("Row values where feature type is not an ORF or a CDS")
searchfor = ['ORF', 'CDS']
df.loc[((df['feature_type'].notnull()) & (~df['feature_type'].str.contains(('|'.join(searchfor)), na=False))), ('row', 'feature_type')]

Row values where feature type is not an ORF or a CDS

               row feature_type
primary_sgdid
S000001619      57          ONF

In [18]:
""" The first three letters define the host origin (Y, for yeast), 
the specific chromosome (A through P to denote chromosomes I through XVI), 
and whether the ORF lies to the left (L) or right (R) of the
centromere.
Based on this feature_name can only start with YKL"""
print("Row values where feature names do not start with YKL, which is indicative of the q arm of chr11 in Saccharomyces. \nFeature-name in the First exception needs chomping to confirm with dataset values")
df.loc[((df['feature_name'].notnull()) & (~df['feature_name'].str.contains('^YKL.*', na=False))), ('row', 'feature_name')]

Row values where feature names do not start with YKL, which is indicative of the q arm of chr11 in Saccharomyces.
Feature-name in the First exception needs chomping to confirm with dataset values

               row feature_name
primary_sgdid
S000001604      42      YKL121W
S000001640      81        APE2
S000001729     151      YKR021W

In [19]:
"""gene_name: pattern of 3 letters and a number
Catches exceptions in gene_names
Leaves out missing values as it is not manadtory"""
print("Row values where the gene names are not in the specified pattern")
df.loc[((df['gene_name'].notnull()) & (~df['gene_name'].str.contains('^[A-Z]{3}\d{1}', na=False))), ('row', 'gene_name')]

Row values where the gene names are not in the specified pattern

               row            gene_name
primary_sgdid
S000001617      55  2013-10-01 00:00:00
S000001621      59               MRPL31
S000001653      95               MRPL38

In [20]:
"""alternate identifiers for the sequence feature  (optional, multiples separated by |)
Catches exceptions in secondary_sgdid
Leaves out missing values as it is not mandatory"""
print("Row values where the secondary sgdid is not in the alphanumeric format of a single letter followed by 9 numbers")
df.loc[((df['secondary_sgdid'].notnull()) & (~df['secondary_sgdid'].str.contains('^[A-Z]{1}\d{9}', na=False))), ('row', 'secondary_sgdid')]

Row values where the secondary sgdid is not in the alphanumeric format of a single letter followed by 9 numbers

               row secondary_sgdid
primary_sgdid
S000001582      17   chromosome 11

In [21]:
"""It is mentioned that the ORFs are from Chromosome 11"""
print("Row values where the ORFs are not from Chr11")
df.loc[((df['chromosome'].notnull()) & (df['chromosome'] != 11)), ('row', 'chromosome')]

Row values where the ORFs are not from Chr11

               row  chromosome
primary_sgdid
S000001695     137        13.0

In [22]:
"""Making sure that all dates are in the year-month-date format"""
df['sequence_version_date'] = pd.to_datetime(df['sequence_version_date']).apply(lambda x:x.strftime('%Y/%m/%d'))
print("Formatted Dates in the Data frame")
df['sequence_version_date']

Formatted Dates in the Data frame

primary_sgdid
S000001568    1996/07/31
S000001569    1996/07/31
S000001574    1996/07/31
S000001575    1996/07/31
S000001576    1996/07/31
S000001577    1996/07/31
S000001580    1996/07/31
S000001581    1996/07/31
S000001582    2011/02/03
S000001583    1996/07/31
S000001591    1996/07/31
S000001592    1996/07/31
S000001593    1996/07/31
S000001594    1996/07/31
S000001595    1996/07/31
S000001596    1996/07/31
S000001597    1996/07/31
S000033938    1996/07/31
S000001598    1996/07/31
S000001599    1996/07/31
S000001600    1996/07/31
S000001601    1996/07/31
S000001602    1996/07/31
S000001603    1996/07/31
S000001604    1996/07/31
S000001605    1996/07/31
S000001606    1996/07/31
S000001607    1996/07/31
S000001608    1996/07/31
S000001609    1996/07/31
                 ...
S000001644    1996/07/31
S000001645    1996/07/31
S000007244    1999/07/17
S000001646    1996/07/31
S000001647    1996/07/31
S000001648    1996/07/31
S000007617    2001/02/26
S000001649    1996/07/31
S000001650    1996/07/31
S000001651    1996/07/31
S000001652    1996/07/31
S000001653    1996/07/31
S000001654    1996/07/31
S000001655    1996/07/31
S000001667    1996/07/31
S000001668    1996/07/31
S000001669    1996/07/31
NaN           1996/07/31
S000001671    1996/07/31
S000001693    1996/07/31
S000001694    1996/07/31
S000001695    1996/07/31
S000001696    1996/07/31
S000001697    1996/07/31
S000001698    1996/07/31
S000001705    1996/07/31
S000001706    1996/07/31
S000001707    1996/07/31
S000001708    1996/07/31
S000001729    1996/07/31
Name: sequence_version_date, Length: 83, dtype: object

In [23]:
"""strand values should be either W or C"""
strand_name = ['W', 'C']
print ("Row values where the strand value is not W or C")
df.loc[((df['strand'].notnull()) & (~df['strand'].str.contains(('|'.join(strand_name)), na=False))), ('row', 'strand')]

Row values where the strand value is not W or C

               row  strand
primary_sgdid
S000001582      17  255720

In [24]:
"""Optional: last letter of feature_name denotes the strand
Can be used to impute strand values if they are missing"""
feature_name_values = df.loc[((df['feature_name'].notnull()) & (df['feature_name'].str.contains('^YKL.*', na=False))), ('feature_name')].values
last_letter = [x.strip()[-1] for x in feature_name_values]
print("Last letter of feature_name in the first five records: ",last_letter[0:5])

Last letter of feature_name in the first five records:  ['W', 'W', 'C', 'C', 'W']

In [25]:
"""Rows where start coordinate is lesser than stop coordinate"""
print("Rows where start coordinate is lesser than stop coordinate",df.loc[(df['start_coordinate'] < df['stop_coordinate']), ('row')])

Rows where start coordinate is lesser than stop coordinate primary_sgdid
S000001568      1
S000001569      2
S000001576      9
S000001577     10
S000001581     16
S000001582     17
S000001591     28
S000001592     29
S000001595     32
S000001600     38
S000001601     39
S000001603     41
S000001604     42
S000001606     44
S000001607     45
S000001608     46
S000001609     47
S000001610     48
S000001614     52
S000001619     57
S000001620     58
S000001628     67
S000001636     76
S000001637     77
S000001639     80
S000001640     81
S000001643     83
S000001646     87
S000001653     95
S000001654     96
S000001655     98
S000001667    111
S000001668    112
S000001693    135
S000001695    137
S000001706    148
S000001708    150
S000001729    151
Name: row, dtype: int64

In [26]:
"""The following row has mismatched column values"""
print("Row with mismatched column values: ",(df.iloc[8,0]))

Row with mismatched column values:  17

In [27]:
"""Sample demo of data drop
Obtaining the rows to be dropped based on the exceptions caught in the feature_name and feature_type cols"""
rows_feature_name = df.loc[((df['feature_name'].notnull()) & (~df['feature_name'].str.contains('^YKL.*', na=False))), ('row')].values
rows_feature_type = df.loc[((df['feature_type'].notnull()) & (~df['feature_type'].str.contains(('|'.join(searchfor)), na=False))), ('row')].values
rows_toDrop = np.concatenate((rows_feature_name, rows_feature_type))
_, i = np.unique(rows_toDrop, return_index=True)
rows_toDrop = rows_toDrop[np.sort(i)]
print("Cleaned Dataframe: \n",df[~df['row'].isin(rows_toDrop)])

Cleaned Dataframe:
                row feature_type feature_name gene_name  \
primary_sgdid
S000001568       1          ORF      YKL085W      MDH1
S000001569       2          ORF      YKL086W      SRX1
S000001574       7          ORF      YKL091C       NaN
S000001575       8          ORF      YKL092C      BUD2
S000001576       9          ORF      YKL093W      MBR1
S000001577      10          ORF      YKL094W      YJU3
S000001580      15          ORF      YKL097C       NaN
S000001581      16          ORF      YKL098W      MTC2
S000001582      17          ORF          NaN   YKL099C
S000001583      18          ORF      YKL100C       NaN
S000001591      28          ORF      YKL108W      SLD2
S000001592      29          ORF      YKL109W      HAP4
S000001593      30          ORF      YKL110C     KTI12
S000001594      31          ORF      YKL111C       NaN
S000001595      32          ORF      YKL112W      ABF1
S000001596      33          ORF      YKL113C     RAD27
S000001597      34          ORF      YKL114C      APN1
S000033938      35          CDS          NaN       NaN
S000001598      36          ORF      YKL115C       NaN
S000001599      37          ORF      YKL116C      PRR1
S000001600      38          ORF      YKL117W      SBA1
S000001601      39          ORF      YKL118W       NaN
S000001602      40          ORF      YKL119C      VPH2
S000001603      41          ORF      YKL120W      OAC1
S000001605      43          ORF      YKL122C     SRP21
S000001606      44          ORF      YKL123W       NaN
S000001607      45          ORF      YKL124W      SSH4
S000001608      46          ORF      YKL125W      RRN3
S000001609      47          ORF      YKL126W      YPK1
S000001610      48          ORF      YKL127W      PGM1
...            ...          ...          ...       ...
S000001643      83          ORF      YKL160W      ELF1
S000001644      84          ORF      YKL161C      KDX1
S000001645      85          ORF      YKL162C       NaN
S000007244      86          ORF    YKL162C-A       NaN
S000001646      87          ORF      YKL163W      PIR3
S000001647      88          ORF      YKL164C      PIR1
S000001648      89          ORF      YKL165C      MCD4
S000007617      90          ORF    YKL165C-A       NaN
S000001649      91          ORF      YKL166C      TPK3
S000001650      92          ORF      YKL167C     MRP49
S000001651      93          ORF      YKL168C      KKQ8
S000001652      94          ORF      YKL169C       NaN
S000001653      95          ORF      YKL170W    MRPL38
S000001654      96          ORF      YKL171W      NNK1
S000001655      98          ORF      YKL172W      EBP2
S000001667     111          ORF      YKL184W      SPE1
S000001668     112          ORF      YKL185W      ASH1
S000001669     113          ORF      YKL186C      MTR2
NaN            114          ORF      YKL187C      FAT3
S000001671     115          ORF      YKL188C      PXA2
S000001693     135          ORF      YKL210W      UBA1
S000001694     136          ORF      YKL211C      TRP3
S000001695     137          ORF      YKL212W      SAC1
S000001696     138          ORF      YKL213C      DOA1
S000001697     139          ORF      YKL214C      YRA2
S000001698     140          ORF      YKL215C      OXP1
S000001705     147          ORF      YKL222C       NaN
S000001706     148          ORF      YKL223W       NaN
S000001707     149          ORF      YKL224C     PAU16
S000001708     150          ORF      YKL225W       NaN

                                secondary_sgdid  chromosome  start_coordinate  \
primary_sgdid
S000001568                           L000001045        11.0            279123
S000001569                                  NaN        11.0            278281
S000001574                                  NaN        11.0            270650
S000001575                           L000000199        11.0            269459
S000001576                           L000001033        11.0            264789
S000001577                           L000002514        11.0            263349
S000001580                                  NaN        11.0            258913
S000001581                                  NaN        11.0            256770
S000001582                        chromosome 11         NaN                11
S000001583                                  NaN        11.0            255460
S000001591                           L000004708        11.0            234426
S000001592                           L000000754        11.0            232227
S000001593                           L000000923        11.0            229880
S000001594                                  NaN        11.0            228799
S000001595                           L000000159        11.0            226570
S000001596                L000002742|L000000565        11.0            225875
S000001597                           L000000096        11.0            224455
S000033938                                  NaN        11.0            224455
S000001598                                  NaN        11.0            223285
S000001599                                  NaN        11.0            222900
S000001600     L000004284|L000002999|S000029122        11.0            220324
S000001601                                  NaN        11.0            219126
S000001602                           L000002468        11.0            219217
S000001603                           S000007413        11.0            217344
S000001605                           L000002062        11.0            212998
S000001606                                  NaN        11.0            212043
S000001607                           L000002951        11.0            210593
S000001608                           L000003362        11.0            208247
S000001609                           L000002541        11.0            205707
S000001610                           L000001412        11.0            203541
...                                         ...         ...               ...
S000001643                                  NaN        11.0            153269
S000001644                                  NaN        11.0            150687
S000001645                                  NaN        11.0            148838
S000007244                                  NaN        11.0            146074
S000001646                           L000001443        11.0            144401
S000001647                           L000001441        11.0            142819
S000001648     L000003913|S000029172|L000003584        11.0            140691
S000007617                                  NaN        11.0            136023
S000001649                           L000002327        11.0            135705
S000001650                           L000001159        11.0            134134
S000001651                           L000004097        11.0            133462
S000001652                                  NaN        11.0            131068
S000001653     S000029310|L000002693|L000001173        11.0            130634
S000001654                                  NaN        11.0            127475
S000001655                           L000004646        11.0            125759
S000001667     L000001307|L000001993|L000001995        11.0             96757
S000001668                           L000003058        11.0             94499
S000001669                           L000002934        11.0             93298
NaN                                         NaN        11.0             91536
S000001671                           L000003538        11.0             88786
S000001693                           L000002405        11.0             39163
S000001694                           L000002354        11.0             38153
S000001695                           L000001790        13.0             34543
S000001696                           L000002961        11.0             34107
S000001697                                  NaN        11.0             31693
S000001698                                  NaN        11.0             30687
S000001705                                  NaN        11.0              5620
S000001706                                  NaN        11.0              2389
S000001707                                  NaN        11.0              2181
S000001708                                  NaN        11.0               451

               stop_coordinate  strand sequence_version_date  \
primary_sgdid
S000001568              280127       W            1996/07/31
S000001569              278664       W            1996/07/31
S000001574              269718       C            1996/07/31
S000001575              266145       C            1996/07/31
S000001576              265808       W            1996/07/31
S000001577              264290       W            1996/07/31
S000001580              258503       C            1996/07/31
S000001581              257843       W            1996/07/31
S000001582              256472  255720            2011/02/03
S000001583              253697       C            1996/07/31
S000001591              235787       W            1996/07/31
S000001592              233891       W            1996/07/31
S000001593              228939       C            1996/07/31
S000001594              228464       C            1996/07/31
S000001595              228765       W            1996/07/31
S000001596              224727       C            1996/07/31
S000001597              223352       C            1996/07/31
S000033938              223352       C            1996/07/31
S000001598              222893       C            1996/07/31
S000001599              221344       C            1996/07/31
S000001600              220974       W            1996/07/31
S000001601              219437       W            1996/07/31
S000001602              218570       C            1996/07/31
S000001603              218318       W            1996/07/31
S000001605              212495       C            1996/07/31
S000001606              212423       W            1996/07/31
S000001607              212332       W            1996/07/31
S000001608              210130       W            1996/07/31
S000001609              207749       W            1996/07/31
S000001610              205253       W            1996/07/31
...                        ...     ...                   ...
S000001643              153706       W            1996/07/31
S000001644              149386       C            1996/07/31
S000001645              147630       C            1996/07/31
S000007244              145922       C            1999/07/17
S000001646              145378       W            1996/07/31
S000001647              141794       C            1996/07/31
S000001648              137932       W            1996/07/31
S000007617              135790       C            2001/02/26
S000001649              134509       C            1996/07/31
S000001650              133721       C            1996/07/31
S000001651              131288       C            1996/07/31
S000001652              130685       C            1996/07/31
S000001653              131050       W            1996/07/31
S000001654              130261       W            1996/07/31
S000001655              127042       W            1996/07/31
S000001667               98157       W            1996/07/31
S000001668               96265       W            1996/07/31
S000001669               92744       C            1996/07/31
NaN                      89284       C            1996/07/31
S000001671               86225       C            1996/07/31
S000001693               42237       W            1996/07/31
S000001694               36699       C            1996/07/31
S000001695               36414       W            1996/07/31
S000001696               31960       C            1996/07/31
S000001697               31082       C            1996/07/31
S000001698               26827       C            1996/07/31
S000001705                3503       C            1996/07/31
S000001706                2721       W            1996/07/31
S000001707                1810       C            1996/07/31
S000001708                 798       W            1996/07/31

                                                     description
primary_sgdid
S000001568     Mitochondrial malate dehydrogenase; catalyzes ...
S000001569     Sulfiredoxin; contributes to oxidative stress ...
S000001574     Putative phosphatidylinositol/phosphatidylchol...
S000001575     GTPase activating factor for Rsr1p/Bud1p; play...
S000001576     protein involved in mitochondrial functions an...
S000001577     Monoglyceride lipase (MGL); functional ortholo...
S000001580     Dubious open reading frame; unlikely to encode...
S000001581     Protein of unknown function; mtc2 is synthetic...
S000001582                                 1996-07-31|2005-12-15
S000001583     Putative protein of unknown function with simi...
S000001591     Single-stranded DNA origin-binding and anneali...
S000001592     Subunit of the heme-activated, glucose-repress...
S000001593     Protein that plays a role, with Elongator comp...
S000001594     Dubious open reading frame; unlikely to encode...
S000001595     DNA binding protein with possible chromatin-re...
S000001596     5' to 3' exonuclease, 5' flap endonuclease; re...
S000001597     Major apurinic/apyrimidinic endonuclease, 3'-r...
S000033938                                                   NaN
S000001598     Dubious open reading frame; unlikely to encode...
S000001599     Serine/threonine protein kinase that inhibits ...
S000001600     Co-chaperone that binds and regulates Hsp90 fa...
S000001601     Dubious open reading frame; unlikely to encode...
S000001602     Integral membrane protein required for vacuola...
S000001603     Mitochondrial inner membrane transporter; tran...
S000001605     Subunit of the signal recognition particle (SR...
S000001606     Dubious open reading frame; unlikely to encode...
S000001607     Specificity factor required for Rsp5p-dependen...
S000001608     Protein required for transcription of rDNA by ...
S000001609     Serine/threonine protein kinase; phosphorylate...
S000001610     Phosphoglucomutase, minor isoform; catalyzes t...
...                                                          ...
S000001643     Transcription elongation factor that contains ...
S000001644     Protein kinase; implicated in Slt2p mitogen-ac...
S000001645     Putative protein of unknown function; green fl...
S000007244     Dubious open reading frame; unlikely to encode...
S000001646     O-glycosylated covalently-bound cell wall prot...
S000001647     O-glycosylated protein required for cell wall ...
S000001648     Protein involved in glycosylphosphatidylinosit...
S000007617     Dubious open reading frame; unlikely to encode...
S000001649     cAMP-dependent protein kinase catalytic subuni...
S000001650     Mitochondrial ribosomal protein of the large s...
S000001651     Putative serine/threonine protein kinase with ...
S000001652     Dubious open reading frame; unlikely to encode...
S000001653     Mitochondrial ribosomal protein of the large s...
S000001654     Protein kinase; implicated in proteasome funct...
S000001655     Required for 25S rRNA maturation and 60S ribos...
S000001667     Ornithine decarboxylase; catalyzes the first s...
S000001668     Component of the Rpd3L histone deacetylase com...
S000001669     mRNA transport regulator; essential nuclear pr...
NaN            Protein required for fatty acid uptake; protei...
S000001671     Subunit of a heterodimeric peroxisomal ATP-bin...
S000001693     Ubiquitin activating enzyme (E1); involved in ...
S000001694     Indole-3-glycerol-phosphate synthase; forms bi...
S000001695     Phosphatidylinositol phosphate (PtdInsP) phosp...
S000001696     WD repeat protein required for ubiquitin-media...
S000001697     Member of the REF (RNA and export factor bindi...
S000001698     5-oxoprolinase; enzyme is ATP-dependent and fu...
S000001705     Protein of unknown function; may interact with...
S000001706     Dubious open reading frame; unlikely to encode...
S000001707     Protein of unknown function; member of the ser...
S000001708     Dubious open reading frame; unlikely to encode...

[79 rows x 11 columns]

In [28]:
data_loss = (len(rows_toDrop)/ (df.shape [0] +1))*100
print("Expected data loss :",data_loss, "percent")

Expected data loss : 4.761904761904762 percent